<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="../js/materialize.min.js"></script>      
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--JavaScript at end of body for optimized loading-->
    <script src="../js/javascript.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal #ffffff white">
        <a href="#" class="brand-logo center">
          <img src="../images/logo.jpg" height="50" width="100" style="vertical-align: middle;">
          <label for="">BD_Empleados</label>
          <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons black-text">menu</i>
          </a>
        </a>
    </nav>
  </div>
</div>

    <!--Tablas-->
    <table class="centered responsive-table">
      <thead>
        <tr>
            <th>Actions</th>
            <th>No. Nomina</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Departamento</th>
            <th>Puesto</th>
            <th>Departamento</th>
            <th>Estatus</th>
            <th>Direccion</th>
            <th>Localidad</th>
            <th>Poblacion</th>
            <th>CP</th>
            <th>Estado</th>
            <th>Fecha Alta</th>
            <th>NSS</th>
            <th>Curp</th>
            <th>RFC</th>
            <th>Fecha de Nacimiento</th>
            <th>Sexo</th>
            <th>Transporte</th>
            <th>Looker Asignado</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>2149</td>
          <td>Acosta Lira Pablo Gabino</td>
          <td>P2B04</td>
          <td>Invernaderos</td>
          <td>Operativo Arriba</td>
          <td>Z2 N14</td>
          <td>Activo</td>
          <td>SAN ISIDRO 20 A LA TESORERA</td>
          <td>LA TESORERA</td>
          <td>GENERAL PANFILO NATERA</td>
          <td>98740</td>
          <td>A</td>
          <td>27/07/2018</td>
          <td>34108706747</td>
          <td>AOLP870817HZSCRB08</td>
          <td>AOLP870817755</td>
          <td>17/08/87</td>
          <td>M</td>
          <td>TESORERA</td>
          <td></td> 
        </tr>
        <tr>
          <td>2505</td>
          <td>Aleman Aleman Eulalio</td>
          <td>P2A09</td>
          <td>Invernaderos</td>
          <td>Operativo Abajo</td>
          <td>Z2 N6</td>
          <td>Activo</td>
          <td>FELIPE ANGELES 3 LAS LAJAS</td>
          <td>LAS LAJAS </td>
          <td>OJOCALIENTE</td>
          <td>98670</td>
          <td>R</td>
          <td>27/01/2020</td>
          <td>34058510693</td>
          <td>AERJ881214HZSLMS01</td>
          <td>AUDJ8506142W2</td>
          <td>14/12/88</td>
          <td>M</td>
          <td>LA CAPILLA</td>
          <td></td>
        </tr>
        <tr>
          <td>2505</td>
          <td>Aleman Aleman Eulalio</td>
          <td>P2A09</td>
          <td>Invernaderos</td>
          <td>Operativo Abajo</td>
          <td>Z2 N6</td>
          <td>Activo</td>
          <td>SAN JOSE 5 LA TESORERA</td>
          <td>LA TESORERA</td>
          <td>GENERAL PANFILO NATERA</td>
          <td>98740</td>
          <td>R</td>
          <td>06/10/2020</td>
          <td>34008106626</td>
          <td>AEAE810204HZSLLL05</td>
          <td>AEAE810204DI6</td>
          <td>04/02/81</td>
          <td>M</td>
          <td>TESORERA</td>
          <td></td>
        </tr>
        <tr>
          <td>8130</td>
          <td>Aleman Aleman Ramiro</td>
          <td>GSB03</td>
          <td>Perifericos</td>
          <td>Apoyo Intendecia</td>
          <td>Perifericos</td>
          <td>Activo</td>
          <td>MANUEL AVILA CAMACHO 23 DE LA SANTA CRUZ</td>
          <td>LA BLANCA </td>
          <td>GENERAL PANFILO NATERA</td>
          <td>98730</td>
          <td>R</td>
          <td>18/08/2015</td>
          <td>4825704838</td>
          <td>AEAR570509HZSLLM08</td>
          <td>AEAR570509LUA</td>
          <td>09/05/57</td>
          <td>M</td>
          <td>SANTA ELENA</td>
          <td></td>
        </tr>
        <tr>
          <td>1677</td>
          <td>Aleman Torres Omar Edelmiro</td>
          <td>P1B06</td>
          <td>Invernaderos</td>
          <td>Operativo Arriba</td>
          <td>Z1 N4</td>
          <td>Activo</td>
          <td>GLZ ORTEGA 21 la blanca</td>
          <td>LA BLANCA </td>
          <td>GENERAL PANFILO NATERA</td>
          <td>98730</td>
          <td>R</td>
          <td>10/07/2017</td>
          <td>8159717134</td>
          <td>AETO971001HZSLRM04</td>
          <td>AETO971001FV9</td>
          <td>01/10/97</td>
          <td>M</td>
          <td>SANTA ELENA</td>
          <td></td>
          
        </tr>
        <tr>
          <td>GMT01</td>
          <td>Perifericos</td>
          <td>Jefe de Maquinaria</td>
          <td>Fijo</td>
          <td>$1,928.57</td>
          <td>$321.43</td>
          <td>$350.00</td>
          <td>0</td>
          <td>0</td>
          <td>Pierde dia</td>
          <td>si</td>
          <td>Pierde día y premios</td>
          <td>$35.00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>12:30:00</td>
          <td>7:30:00</td>
          <td>7:30:00</td>
         
        </tr>
      </tbody>
    </table>
  </body>
</html>
