<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="../js/materialize.min.js"></script>      
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--JavaScript at end of body for optimized loading-->
    <script src="../js/javascript.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal #ffffff white">
        <a href="#" class="brand-logo center">
          <img src="../images/logo.jpg" height="50" width="100" style="vertical-align: middle;">
          <label for="">Bases</label>
          <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons black-text">menu</i>
          </a>
        </a>
    </nav>
  </div>
</div>

    <!--Tablas-->
    <table class="centered responsive-table">
      <thead>
        <tr>
            <th>Actions</th>
            <th>Clave</th>
            <th>Area</th>
            <th>Puesto</th>
            <th>Tipo de sueldo</th>
            <th>Ingreso neto</th>
            <th>Valor dia</th>
            <th>Valor premios</th>
            <th>Bono A</th>
            <th>Bono P</th>
            <th>Permiso</th>
            <th>Motivo de permiso</th>
            <th>Falta</th>
            <th>Hora extra</th>
            <th>Viernes</th>
            <th>Viernes salida</th>
            <th>Sabado</th>
            <th>Sabado salida</th>
            <th>Domingo</th>
            <th>Domingo salida</th>
            <th>Lunes</th>
            <th>Lunes salida</th>
            <th>Martes</th>
            <th>Martes salida</th>
            <th>Miercoles</th>
            <th>Miercoles Salida</th>
            <th>Jueves</th>
            <th>Jueves salida</th>
            <th>Restardo</th>
            <th>Pago de domingo</th>
            <th>Hora trabajado de domingo</th>
            <th>Pago Festivo</th>
            <th>Bono Adicional</th>
            <th>Minimo</th>
            <th>Maximo</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>GAR01</td>
          <td>Perifericos</td>
          <td>Recepcion y Capturista</td>
          <td>Fijo</td>
          <td>$900</td>
          <td>$150</td>
          <td>$250</td>
          <td></td>
          <td></td>
          <td>Pierde día</td>
          <td>Sí</td>
          <td>Pierde día y premios</td>
          <td>$35</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0:00:00</td>
          <td>0</td>
          <td>0</td>
          <td>$13.25</td>
          <td>$150.00</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>GD101</td>
          <td>Choferes</td>
          <td>Chofer 2</td>
          <td>Fijo</td>
          <td>1,242.86</td>
          <td>207.14</td>
          <td>$350</td>
          <td></td>
          <td></td>
          <td>Pierde día</td>
          <td>si</td>
          <td>Pierde día y premios</td>
          <td>$35.00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>12:30:00</td>
          <td>7:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>Descuento horas del día (base 8.5)</td>
          <td>D=Días trabajados/6*valor día</td>
          <td>13.25</td>
          <td><$207.00</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>GD201</td>
          <td>Choferes</td>
          <td>Chofer 3</td>
          <td>Fijo</td>
          <td>$1,414.29</td>
          <td>$235.71</td>
          <td>$350</td>
          <td></td>
          <td></td>
          <td>Pierde dia</td>
          <td>si</td>
          <td>Pierde día y premios</td>
          <td>$35</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>12:30:00</td>
          <td>7:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>Descuento horas del día (base 8.5)</td>
          <td>D=Días trabajados/6*valor día</td>
          <td>13.25</td>
          <td>$207.00</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>GD301</td>
          <td>Choferes</td>
          <td>Chofer 1</td>
          <td>Fijo</td>
          <td>$1,500.00</td>
          <td>$250.00</td>
          <td>$350.00</td>
          <td></td>
          <td></td>
          <td>pierde dia</td>
          <td>si</td>
          <td>Pierde día y premios</td>
          <td>$35.00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>12:30:00</td>
          <td>7:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>Descuento horas del día (base 8.5)</td>
          <td>D=Días trabajados/6*valor día</td>
          <td>13.25</td>
          <td>$250.00</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>GJT01</td>
          <td>Periféricos</td>
          <td>Jardinería</td>
          <td>Fijo</td>
          <td>$1.045.72</td>
          <td>$174.29</td>
          <td>$280.00</td>
          <td></td>
          <td></td>
          <td>Pierde dia</td>
          <td>si</td>
          <td>A</td>
          <td>Pierde día y premios</td>
          <td>$35.00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>12:30:00</td>
          <td>7:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>Descuento horas del día (base 8.5)</td>
          <td>D=Días trabajados/6*valor día</td>
          <td>13.25</td>
          <td>$250.00</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>GMT01</td>
          <td>Perifericos</td>
          <td>Jefe de Maquinaria</td>
          <td>Fijo</td>
          <td>$1,928.57</td>
          <td>$321.43</td>
          <td>$350.00</td>
          <td>0</td>
          <td>0</td>
          <td>Pierde dia</td>
          <td>si</td>
          <td>Pierde día y premios</td>
          <td>$35.00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>12:30:00</td>
          <td>7:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>16:30:00</td>
          <td>7:30:00</td>
          <td>Descuento horas del día (base 8.5)</td>
          <td>D=Días trabajados/6*valor día</td>
          <td>13.25</td>
          <td>$250.00</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
