<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="../js/materialize.min.js"></script>      
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--JavaScript at end of body for optimized loading-->
    <script src="../js/javascript.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal #ffffff white">
        <a href="#" class="brand-logo center">
          <img src="../images/logo.jpg" height="50" width="100" style="vertical-align: middle;">
          <label for="">Ingresos</label>
          <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons black-text">menu</i>
          </a>
        </a>
    </nav>
  </div>
</div>

    <!--Tablas-->
    <table class="centered responsive-table">
      <thead>
        <tr>
            <th>Actions</th>
            <th>Nomina</th>
            <th>Nombre</th>
            <th>Total</th>
            <th>Pago.por.invitado</th>
            <th>Gasolina 150</th>
            <th>Aplicaciones</th>
            <th>Prestamo</th>
            <th>Dep.x.error.nomina.anterior</th>
            <th>Vacaciones</th>
            <th>COSECHA Z1</th>
            <th>DESHOJE Z1</th>
            <th>OTRO Z1</th>
            <th>LIMPIEZA Z1</th>
            <th>CLIP,BROTE Y RALEO Z1</th>
            <th>BAJADA Z1</th>
            <th>COSECHA Z6 Y 10</th>
            <th>DESHOJE Z6 Y 10</th>
            <th>OTRO Z6 Y 10</th>
            <th>LIMPIEZA Z6 Y 10</th>
            <th>TARJETAS Z6 Y 10</th>
            <th>COMPOSTA Z6 Y 10</th>
            <th>CLIP,BROTE Y RALEO Z6 Y 10</th>
            <th>BAJADA Z6 Y 10</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>8012</td>
          <td>Luevano Lopez Miguel</td>
          <td>$350.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$150.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>10</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2107</td>
          <td>Reveles Moreno Jaime Humberto</td>
          <td>$290.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$95.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>13</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2308</td>
          <td>Rivera Ortiz Juan Cruz</td>
          <td>$1,205.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$695.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>6</td>
          <td>6</td>
          <td></td>
          <td>22</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2092</td>
          <td>Escobedo Sustaita Mario</td>
          <td>$130.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$130.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          
        </tr>
        <tr>
          <td>2505</td>
          <td>Aleman Aleman Eulalio</td>
          <td>$10.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$85.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>-5</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>853</td>
          <td>Espino Diaz Jose Angel</td>
          <td>$145.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$115.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
