<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="../js/materialize.min.js"></script>      
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--JavaScript at end of body for optimized loading-->
    <script src="../js/javascript.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal #ffffff white">
        <a href="#" class="brand-logo center">
          <img src="../images/logo.jpg" height="50" width="100" style="vertical-align: middle;">
          <label for="">Descuentos</label>
          <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons black-text">menu</i>
          </a>
        </a>
    </nav>
  </div>
</div>

    <!--Tablas-->
    <table class="centered responsive-table">
      <thead>
        <tr>
            <th>Actions</th>
            <th>Nomina</th>
            <th>Nombre</th>
            <th>Total</th>
            <th>Tijeras</th>
            <th>Botas</th>
            <th>Uniforme</th>
            <th>Radio</th>
            <th>Desc x error nomina anterior</th>
            <th>Premios Vac</th>
            <th>Disponible</th>
            <th>Disponible</th>
            <th>Disponible</th>
            <th>Disponible</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>2974</td>
          <td>Torres Aleman Miguel Angel</td>
          <td>$50.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$50.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2857</td>
          <td>Becerra Beltran Maria Guadalupe</td>
          <td>$40.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$40.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2902</td>
          <td>Cervantes Jimenez Jose</td>
          <td>$50.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$50.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3130</td>
          <td>Lopez Rodriguez Benjamin</td>
          <td>$50.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$50.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          
        </tr>
        <tr>
          <td>2998</td>
          <td>Hernandez Perea Roxaana</td>
          <td>$50.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$50.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>1816</td>
          <td>Rosales Lechuga Miguel</td>
          <td>$300.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>$300.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
