<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="../js/materialize.min.js"></script>      
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--JavaScript at end of body for optimized loading-->
    <script src="../js/javascript.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal #ffffff white">
        <a href="#" class="brand-logo center">
          <img src="../images/logo.jpg" height="50" width="100" style="vertical-align: middle;">
          <label for="">Lineas</label>
          <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons black-text">menu</i>
          </a>
        </a>
    </nav>
  </div>
</div>

   <!--Tablas-->
   <table class="centered responsive-table">
    <thead>
      <tr>
          <th>Actions</th>
          <th>Nomina</th>
          <th>Nombre</th>
          <th>Nave</th>
          <th>Pago</th>
          <th>Z01.01.AR</th>
          <th>Z01.02.AR</th>
          <th>Z01.03.AR</th>
          <th>Z01.04.AR</th>
          <th>Z01.05.AR</th>
          <th>Z01.01.AB</th>
          <th>Z01.02.AB</th>
          <th>Z01.03.AB</th>
          <th>Z01.04.AB</th>
          <th>Z01.05.AB</th>
          <th>Z06.06.AR</th>
          <th>Z06.07.AR</th>
          <th>Z06.08.AR</th>
          <th>Z06.09.AR</th>
          <th>Z06.06.AB</th>
          <th>Z06.07.AB</th>
          <th>Z06.08.AB</th>
          <th>Z06.09.AB</th>
          <th>Z10.10.AR</th>
          <th>Z10.10.AB</th>
          <th>Z14.14.AR</th>
          <th>Z14.14.AB</th>
          <th>Pago.por.horas</th>
          <th>Viernes</th>
          <th>Sábado</th>
          <th>Domingo</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miercoles</th>
          <th>Jueves</th>
          <th>VieI</th>
          <th>VieF</th>
          <th>SabI</th>
          <th>SabF</th>
          <th>DomI</th>
          <th>DomF</th>
          <th>LunI</th>
          <th>LunF</th>
          <th>MarI</th>
          <th>MarF</th>
          <th>MieI</th>
          <th>MieF</th>
          <th>JueI</th>
          <th>JueF</th>
          <th>Comentarios</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1343</td>
        <td>Rodriguez Rodriguez Salvador</td>
        <td>Z1 N1</td>
        <td>$1,157.00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>26</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
      </tr>
      <tr>
        <td>1086</td>
        <td>Rosales Candelas Abraham</td>
        <td>Z1 N1</td>
        <td>$1,157.00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>26</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
      </tr>
      <tr>
        <td>951</td>
        <td>Murillo Juarez Noemy</td>
        <td>Z1 N1</td>
        <td>$1,157.00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>26</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
      </tr>
      <tr>
        <td>1865</td>
        <td>Machuca Alferez Cruz Yesenia</td>
        <td>Z1 N1</td>
        <td>$1,157.00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>26</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
      </tr>
      <tr>
        <td>8494</td>
        <td>Ramirez Martinez Juan Antonio</td>
        <td>Z1 N2</td>
        <td>$1,157.00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>26</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        
      </tr>
      <tr>
        <td>2568</td>
        <td>Becerra Contreras Gisela Jocelyn</td>
        <td>Z1 N2</td>
        <td>$1.157.00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>26</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
      </tr>
    </tbody>
  </table>
  </body>
</html>
